
<div class="container">
    <div class="center-block">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/Content/images/EltonAndMe.JPG">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">About Me: Elizabeth Leach<i class="material-icons right">more_vert</i></span>
                <p>I am a self-taught programmer. I love to learn, but relish a challenge above all else. I am currently learning/conquering/discovering/being-conquered-by C#, and I love it. I also try to continuously learn more JS libraries -such as React.js, and Typescript. (and as of this project Mocha.js)</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Fast Facts:<i class="material-icons right">close</i></span>
                <p>
                    <ol>
                        <li>I am self-taught. I bought a few books, read them, got a job doing front-end web-design, was promoted to API Development / C# UI/UX shortly after. Haven't looked back. </li>
                        <li>I am very goal oriented. Progess is very important to me, be it as a developer or better yet as a person. If I can become a better programmer and a better person, then that is success. </li>
                        <li>I value constructive criticism, it's so valuable to me because it ends up making me a better programmer. If you see a way for me to improve my code tell me! </li>
                        <li>I am very curious, and not very shy. If I am confused, it is typical of me to ask many, many questions (to google or a more senior developer) until I figure it out. I dislike being unsure or not understanding what I am doing. </li>
                        <li>I am not a very serious person and enjoy humorous work environments. Sarcasm is my second language.</li>
                        <li>I thoroughly enjoy reading/listening to books. I am fascinated by the human brain and devote a good portion of my time into understanding it.</li>
                        <li>Big Elton John fan.</li>
                    </ol>
                </p>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>